<%- include('partials/head') %>

<body class="surface" ontouchstart>
  <%- include('partials/sidebar') %>

  <%- include('partials/theme-switcher') %>

  <main>
    <h1>XP.css</h1>
    <hr>
    <p>A design system for building faithful recreations of old UIs.</p>

    <p>
      <a href="http://npm.im/xp.css" rel="nofollow" style="text-decoration: none">
        <img alt="npm" src="https://img.shields.io/npm/v/xp.css">
      </a>
      <a href="https://unpkg.com/xp.css" rel="nofollow" style="text-decoration: none">
        <img alt="npm bundle size" src="https://img.shields.io/bundlephobia/minzip/xp.css">
      </a>
    </p>

    <%- include('partials/intro') %>

    <h2 id="components">Components</h2>

    <%- include('partials/components/button') %>
    <%- include('partials/components/checkbox') %>
    <%- include('partials/components/option-button') %>
    <%- include('partials/components/tabs') %>
    <%- include('partials/components/group-box') %>
    <%- include('partials/components/text-box') %>
    <%- include('partials/components/slider') %>
    <%- include('partials/components/dropdown') %>
    <%- include('partials/components/combo-box') %>
    <%- include('partials/components/spin-box') %>
    <%- include('partials/components/menus') %>
    <%- include('partials/components/window') %>
    <%- include('partials/components/tree-view') %>
    <%- include('partials/components/progress-bar') %>
    <%- include('partials/components/taskbar') %>
    <%- include('partials/components/table') %>
    <%- include('partials/components/tooltip') %>
    <%- include('partials/components/balloon-tips') %>
    <%- include('partials/components/color-picker') %>
    <%- include('partials/components/icon-thumbnail') %>
    <%- include('partials/components/explorer-panel') %>

    <%- include('partials/footer') %>
  </main>
</body>

<script src="script.js"></script>

</html>
